# Object file
*.o

# Ada Library Information
*.ali

*.zip

.DS_Store

venv
Project 2 - Advanced Lane Finding/__pycache__/

Project 2 - Advanced Lane Finding/VehicleClassifier/YOLO_small.ckpt

Project 2 - Advanced Lane Finding/VehicleClassifier/__pycache__/

CarND-TensorFlow-Lab/notMNIST.pickle

Project 3 - Traffic Sign Classifier/CarND-Traffic-Sign-Classifier-Project-master/traffic-signs-data/

Project 4 - Behavioral Cloning/udacity data/

Project 4 - Behavioral Cloning/recorded data/Track 1 Lap 1/IMG/

Project 4 - Behavioral Cloning/recorded data/Track 1 Lap 2/IMG/

term2_sim_mac/

Project 4 - Behavioral Cloning/CarND-Term1-Starter-Kit-master/

Project 4 - Behavioral Cloning/recorded data/

Project 4 - Behavioral Cloning/beta_simulator_mac/

Project 4 - Behavioral Cloning/__pycache__/

Project 4 - Behavioral Cloning/model.h5

Project 4 - Behavioral Cloning/video/

Project 4 - Behavioral Cloning/video_sample2/

Project 4 - Behavioral Cloning/EDSR_x3.pb
Project 5 - Extended Kalman Filters/doc_images/Screen Recording 2020-12-04 at 12.48.31 AM.mov
